@CHARSET "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.backgroundNav{
    background-color: #39A952;
    width: 100%;
    height: 50px;
    text-align: center;
    float: left;
}
.navName{
    font-weight: bolder;
    font-size: 24px;
    line-height: 50px;
    color: black;
}
.backgroundNav ul li{
    position: relative;
    top: -20px;
    font-weight: bolder;
    color: black;
    list-style: none;
    float: right;
    margin-right: 30px;
}
.backgroundNav ul li a{
    color: black;
    border-bottom:1px solid black;
}
.changeLine{
    margin-top: 50px;/*防止头部导航条挡住一部分信息*/
}

/*员工登录侧边栏导航*/
.marginTop{
    border: 1px solid #39A952;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
}
.leftItem{
    /*左边侧边栏导航条子选项*/
}
/*员工登录侧边栏导航*/
.table{
    margin-top: 80px;
    text-align: center;
}
.table thead tr td{
    font-weight: bolder;
}
.table-bordered,.table-bordered tbody tr td,.table-bordered thead tr td{
    border: 1px solid #39A952;
}
.table-bordered tbody tr td a{
    color: #39A952;
}